:root{
    --bs-color-primary: #ff5b15;
    --bs-color-white-dark-primary: #c2c2c2;
    --bs-color-dark-primary: 33, 37, 41;
    --bs-color-soft-dark-primary: #2d3238;
}

body {
    background: var(--bs-color-soft-dark-primary);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.bg-dark {
    background-color: rgba(var(--bs-color-dark-primary),1)!important;
}

.bg-soft-dark{
    background: var(--bs-color-soft-dark-primary);
}

.bg-white-dark{
    background: var(--bs-color-white-dark-primary);
}

.text-primary {
    color: var(--bs-color-primary) !important;
}

.fs-s-sm {
    font-size: 12px !important;
}

.fs-sm {
    font-size: 13.2px;
}

.fs-md {
    font-size: 14px;
}

.form-control:focus, .form-select:focus, .navbar-toggler:focus, .form-check-input:focus, .accordion-button:focus {
    box-shadow: none;
    /* border-color: #dee2e6; */
}

.form-control.dark:focus {
    background: var(--bs-color-soft-dark-primary);
}

.max-content {
    width: max-content !important;
}

.heading-title {
    position: relative;
}

.heading-title::before {
    content: '';
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    background: #fff;
    width: 34%;
    height: 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.heading-title::after {
    content: '';
    position: absolute;
    top: 38px;
    left: 30%;
    background: var(--bs-color-primary);
    width: 10%;
    height: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mt-10 {
    margin-top: 120px;
}

hr {
    opacity: 15%;
}

th, td {
    white-space: nowrap;
}

.btn.btn-primary{
    background: var(--bs-color-primary);
    cursor: pointer;
}

.btn.btn-primary:active{
    background: var(--bs-color-primary) !important;
}

/* navbar  */

.nav-hover:hover .dropdown-menu  {
    display: block !important;
}

.nav-item a {
    font-size: 14px;
    letter-spacing: normal;
    color: var(--bs-color-white-dark-primary);
}

.input-group {
    background: var(--bs-color-primary);
}

.dropdown-menu.lg {
    border-color: #484848;
}

.dropdown-menu-end {
    right: 0;
    left: auto;
}

.dropdown-item:active {
    background: var(--bs-color-primary);
}

.navbar-toggler {
    border: 0;
}

.dropdown-menu {
    min-width: 17rem !important;
    background: var(--bs-color-soft-dark-primary);
    position: absolute !important;
    width: 100%;
}

.dropdown-menu li .dropdown-item:hover {
    background: #353b42;
    color: var(--bs-color-white-dark-primary);
}

.dropdown .dropdown-menu {
    display: none;
}

.dropdown:hover > .dropdown-menu {
    display: block; 
}

.dropdown:hover .bi.bi-chevron-down {
    transition: 0.2s;
    transform: rotate(180deg);
}

/* end navbar  */


/* banner section  */

#content-hero-banner {
    padding: 60px 0;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 35px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 85%;
    /* height: 100%; */
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    /* background-color: #fe6c1783; */
    background-color: var(--bs-color-primary);
    right: 10px;
    padding: 30px;
    color: rgb(255, 255, 255) !important;
    fill: black !important;
    stroke: black !important;
    border-radius: 100px
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* background-color: #fe6c1783; */
    background-color: var(--bs-color-primary) !important;
    right: 10px;
    padding: 13px;
    color: rgb(255, 255, 255) !important;
    fill: black !important;
    stroke: black !important;
    border-radius: 100px
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--bs-color-primary);
}

.swiper-pagination-bullet-active {
    background-color: var(--bs-color-primary);
}


/* end banner  */

/* items top up  */

#items-wrapper {
    padding-top: 120px;
    padding-bottom: 50px;
}

.side-content-items p {
    font-size: 14px;
}

.accordion-item {
    border: 2px var(--bs-color-soft-dark-primary) solid !important;
}

.accordion-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.accordion-button:not(.collapsed)::after {
    display: none !important;
}

.accordion-button::after{
    display: none !important;
}

.accordion-button:focus {
    border: 0 !important;
}

.payment-method input[type="radio"]:checked+.card, .payment-method .card:hover{
    background: #fff !important;
}  

.list-group-items {
    background: var(--bs-color-soft-dark-primary);
    padding: .8rem 1rem ;
    border-radius: 13px;
    border: 2px var(--bs-color-soft-dark-primary) solid;
    cursor: pointer;
}

.accordion-button {
    box-shadow: none !important;
}

.list-group-items:hover{
    background: #adadad43;
    border-color: #adadad43;
}

.list-group input[type="radio"]:checked+.list-group-items{
    border-color: #c9c9c993 ;
    box-shadow: 0 0 2.22vw #ababab, inset 0 2.741vw 2.05556vw #adadad43, inset 0 -3.74vw 4.448vw #adadad43;
}   

.nominal-name {
    font-size: 12px;
    color: #fff;
}

.nominal-price {
    font-size: 11.5px;
    color: #fff;
    opacity: 90%;
}

/* end items top up  */